<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title box13
        link(rel="stylesheet", href="/css/styles.css")
    body
        .header
        .top
        .main
        .bottom
            .bottom__col1
            .bottom__col2